@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);/******************************* Component SASS files *******************************/

/******************************* COLORS *******************************/
/******************************* HEADERS *******************************/
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  line-height: 1.1;
  color: #70C262; }

h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #70C262; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #70C262; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #222;
  color: #70C262; }

a {
  font-weight: 400;
  color: #2492F2; }
  a:hover {
    color: #337ab7; }

#links h4, #cookies-title {
  text-align: center;
  font-size: 20px;
}

#cookies-title {
  margin-top: 100px;
  margin-bottom: 0px;
}

#links a, #clear-cookies-button, #refresh-cookies-button {
  display: block;
  background-color: #34B234;
  color: white;
  border-radius: 5px;
  width: 400px;
  margin: 10px auto;
  padding: 8px 10px;
  text-decoration: none;
  text-align: center;
}

#links.pushed a {
  background-color: blue;
}

#clear-cookies-button, #refresh-cookies-button {
  display: inline-block;
  width: 150px;
  margin: 0px auto;
}

#refresh-cookies-button {
  background-color: #2492F2;
}

#clear-cookies-button {
  background-color: #D0021B;
}

#cookie-buttons {
  text-align: center;
}

#cookie-container {
  padding: 20px;
  border-radius: 10px;
  background-color: #555;
  width: 350px;
  margin: 10px auto;
}

.cookie {
  color: white;
  font-size: 14px;
}
